MEMORY_API_URL=http://dokploy-memory-database-api-lxfp0i:3000
MEMORY_API_TOKEN=your-api-token-here

DISCORD_INGESTOR_URL=http://dokploy-openclaw-discord-ingestor-xhyrff:3000
DISCORD_INGESTOR_TOKEN=your_token_here

GMAIL_INGESTOR_URL=
GMAIL_INGESTOR_TOKEN=

SLACK_INGESTOR_URL=
SLACK_INGESTOR_TOKEN=

ANTHROPIC_INGESTOR_URL=
ANTHROPIC_INGESTOR_TOKEN=

CHATGPT_INGESTOR_URL=
CHATGPT_INGESTOR_TOKEN=
